Lab-7/schema3.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="BookCollection">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Book" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="name" type="xs:string"/>
							<xs:element name="auther" type="xs:string"/>
							<xs:element name="ISBN-number" type="xs:integer"/>
							<xs:element name="quantity" type="xs:integer"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>