Lab-7/schema1.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:element name="PlayerCollection">
	

			<xs:complexType>
				<xs:sequence>
					
						<xs:element name="Player" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="player-name" type="xs:string"/>
									<xs:element name="player-age" type="xs:integer"/>
									<xs:element name="betting-average" type="xs:integer"/>
									<xs:element name="highest-score" type="xs:integer"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
					
			</xs:complexType>
	</xs:element>

</xs:schema> 
